.container {
    display: flex;
    color: #c5c5c6;
    padding: 10px;
    flex-direction: column;
    width: 500px;
    background: currentColor;
    border-radius: inherit;
    min-height: 100px;
    align-items: stretch;

}

.contenedor {
    background: #c5c5c6;
    margin: auto;
    margin-top: 25px;
    margin-bottom: 25px;
    display: flex;
    border-radius: 5px;
}

.contenedorInterno {
    width: 250px;
    flex-grow: 1;
    background: rgba(173, 171, 171, 0.575);
    padding: 10px;
    border-radius: 5px;
    min-width: 300px;
    max-height: 400px;
}



/*----- IPAD --------*/
@media (max-width: 768px) {
    .contenedor {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
.contenedorInterno {
    width: 80%;
    background: rgba(173, 171, 171, 0.575);
    }

    .container {
    border-radius: inherit;
    color: #c5c5c6;
    width: 95%;
    }
}




/*----------- Movil -------------*/

@media (max-width: 375px) {
    .contenedor {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
.contenedorInterno {
    width: 80%;
    background: rgba(173, 171, 171, 0.575);
    }

    .container {
    border-radius: inherit;
    color: #c5c5c6;
    width: 95%;
    }


}