* {
  margin: 0;
  padding: 0;
 font-size: 1rem;
  box-sizing: border-box;
}

html, 
body { 
 width: 100%;
   color: black;
  background-color: #f9f9ff;
  font-family: Lato, sans-serif;
  margin-top: 40px;
justify-content: center;
  display: flex;
}

button{
  cursor: pointer;
}
h1 {
  color: #1b1b32;
  font-size: 25px;
  font-family: Roboto, sans-serif;
  text-align: center;
  margin: 20px 0;
}

.aplicacion-tareas {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}


.tareas {
  width: 600px;
  min-height: 500px;
  background-color: #c3c3c4f7;
  padding: 25px;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 10px 10px 55px 25px rgba(0, 0, 0, 0.477);
}



@media  (max-width: 375px) {
  .tareas{
    max-width: -webkit-fill-available;
   width: 95%;
  }
 
  html, body {
    color: white;
    background-color: #f9f9ff;
    font-family: Lato, sans-serif;
    margin-top: 40px;
    display: flex;
    width: 50;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  .aplicacion-tareas {
     display: flex; 
 
    /* justify-content: center; */
    /* position: relative; */
    /* left: 6rem; */
    /* width: 50%; */
    /* align-items: flex-start; */
    /* align-content: space-around; */
    /* flex-wrap: wrap; */
    /* flex-direction: row; */



}}


