* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, 
body {
  color: white;
  background-color: #f9f9ff;
  font-family: Lato, sans-serif;
  margin-top: 40px;
justify-content: center;
  display: flex;
}

button{
  cursor: pointer;
}
h1 {
  color: #1b1b32;
  font-size: 25px;
  font-family: Roboto, sans-serif;
  text-align: center;
  margin: 20px 0;
}

.aplicacion-tareas {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}


.tareas {
  width: 600px;
  min-height: 500px;
  background-color: #c3c3c4f7;
  padding: 25px;
  margin: 10px;
  border-radius: 26px;
  box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.548);
}
